:root{
    --base: #0a0a0a;
    --fade: #3C3D37;
    --text: #e2ded8;
    --accent: #0f0f0f;
    --light: #e2ded8d5;
}


/* Glitch Effect */
html , body {
    height: 100%;
    margin: 0;
    max-width: 100vw;
    font-family: "Inter", sans-serif;
 }
 
 .glitch-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #222;
 }
 
 .glitch {
    position: relative;
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    letter-spacing: 5px;
    z-index: 1;
 }
 
 .glitch:before,
 .glitch:after {
    display: block;
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
 }
 
 .glitch:before {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #0ff;
    z-index: -1;
 }
 
 .glitch:after {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #ff00ff;
    z-index: -2;
 }
 
 @keyframes glitch-color {
    0% {
       transform: translate(0);
    }
 
    20% {
       transform: translate(0px, 4px);
    }
 
    40% {
       transform: translate(0px, -4px);
    }
    to {
       transform: translate(0);
    }
 }
 
a{
    color: var(--text);
}
/*SEC Header*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    z-index: 1000;
    transition: 0.6s;
    background-color: var(--base);
    border-bottom: 2px solid var(--fade);
}
header .logo{
    width: 130px;
    height: 50px;
    margin-left: 30px;
    position: relative;
    transition: 0.6s;
}
header p{
    position: absolute;
    left: 70px;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 20px;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 400ms;
}
#sign_in:hover{
    color: #b1b1b1;
    text-decoration: underline;
}
#enroll_btn{
    padding: 15px 22px;
    border: 1px solid var(--text);
    background-color: var(--fade);
    border-radius: 2px;
}
#enroll_btn:hover{
    background-color: var(--text);
    color: var(--base);
}
.hero{
    background-color: var(--base);
    position: relative;
    width: 100%;
    height: 90vh;
    margin-top: 0;
    top: 0;
}




.modal-content input {
    width: 97%;
    padding: 8px;
    margin-top: 0px;
    margin-bottom: 15px;
    border: 1px solid var(--fade);
    background-color: var(--accent);
    color: var(--text);
    border-radius: 3px;
}
/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(8, 8, 8, 0.5); /* Black w/ opacity */
    backdrop-filter: blur(5px); /* Apply a blur effect */
}

.modal-content {
    background-color: #db5252; /* White background */
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888; /* Gray border */
    width: 50%; /* Could be more or less, depending on screen size */
}

.close {
    color: #000000; /* Gray color */
    float: right; /* Float to the right */
    font-size: 28px; /* Font size */
    font-weight: bold; /* Bold font */
    text-decoration: none;
}

/* Show modal when the target is the modal */
#loginModal:target {
    display: block; /* Show the modal when it's targeted */
}

/* Hide the modal when clicking the close link */
.close:hover,
.close:focus {
    color: black; /* Change color on hover */
    cursor: pointer; /* Pointer cursor on hover */
}
